<%- include ('../layouts/header') -%>
<form method="post" action="/login">
    <div class="row my-3 mx-5">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" name="loginEmail" id="loginEmail">
        </div>
    </div>
    <div class="row my-3 mx-5">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
        <input type="password" class="form-control" name="loginPassword" id="loginPassword">
        </div>
    </div>
    <input type="submit" class="btn btn-primary row my-3 mx-5" value="login">
</form>
<%- include ('../layouts/footer') -%>