<%- include ('../layouts/header') -%>
<form>
    <div class="row my-3 mx-5 mt-5">
        <label for="inputnickname3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="nickname" class="form-control" id="inputnickname3">
        </div>
    </div>
    <div class="row my-3 mx-5">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row my-3 mx-5">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <div class="row my-3 mx-5">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password 확인</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3">
        </div>
      </div>
    
    <div class="row my-3 mx-5">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            pw 저장
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary row my-3 mx-5">Sign in</button>
  </form>
  <%- include ('../layouts/footer') -%>